<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <link rel="stylesheet" href="/css/videogames.css" >
        <title>NANDO INC VIDEOGAMES</title>

        <!-- add icon link -->
        <link rel = "icon" href =  
              "https://cdn2.iconfinder.com/data/icons/videogames-1/32/Videogames_mushroom_1up_videogame-256.png" 
              type = "image/x-icon"> 
    </head>
    <body>
        <nav class="navbar navbar-dark bg-dark">
            <!-- IMPORTANT @{} FOR LINKS -->
            <a class="navbar-brand" th:href="@{/}">
                <img src="/images/pacman.png" width="50" height="50" alt="" >
                NANDO INC VIDEOGAMES LIST
            </a>
        </nav>


        <div class="container mt-4 vg-container-list">
            <div class="row"> 
                <div class="col-md-12">
                    <h1>Add a New Videogame</h1>

                    <form>
                        <div class="form-group">
                            <label for="videogameName">Name</label>
                            <input type="text" class="form-control" id="videogameName" placeholder="My new videogame name">
                        </div>
                        <div class="form-group">
                            <label for="videogameDescription">Description</label>
                            <textarea  class="form-control" id="videogameDescription" placeholder="This game features references to many real-life elements of the world..."></textarea>
                        </div>
                        <div class="form-group">
                            <label for="imageUrl">Imagen URL</label>
                            <input type="text" class="form-control" id="imageUrl" placeholder="www.example.com">
                        </div>
                        <button type="submit" class="btn btn-primary">Create Videogame</button>
                    </form>

                </div>                
            </div>   
        </div>
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    </body>
</html>
