<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <link rel="stylesheet" href="/css/videogames.css" >
        <title>NANDO INC VIDEOGAMES</title>

        <!-- add icon link -->
        <link rel = "icon" href =  
              "https://cdn2.iconfinder.com/data/icons/videogames-1/32/Videogames_mushroom_1up_videogame-256.png" 
              type = "image/x-icon"> 
    </head>
    <body>
        <nav class="navbar navbar-dark bg-dark">
            <!-- IMPORTANT @{} FOR LINKS -->
            <a class="navbar-brand" th:href="@{/}">
                <img src="/images/pacman.png" width="50" height="50" alt="" >
                NANDO INC VIDEOGAMES
            </a>
        </nav>


        <div class="container mt-4 vg-container-list">
            <div class="row"> 
                <div class="col-md-12">
                    <h1>Add a New Videogame</h1>

                    <!--  th:action URL to go to (form value) IMPORTANT the @ to link/ th:object to define an object comming from model -->
                    <form method="POST" th:action="@{/videogames/save}" th:object="${videogameObject}">

                        <div class="form-group">
                            <label for="videogameName">Name</label>
                            <!--  th:field sets the fields to object already declared -->
                            <input type="text" th:field="*{videogameName}" class="form-control" id="videogameName" placeholder="New videogame name">
                        </div>

                        <div class="form-group">
                            <label for="videogameDescription">Description</label>
                            <textarea  class="form-control" th:field="*{description}" id="videogameDescription" placeholder="This game features references to many real-life elements of the world..."></textarea>
                        </div>

                        <div class="form-group">
                            <label for="imageUrl">Imagen URL</label>
                            <input type="text" th:field="*{urlImage}" class="form-control" id="imageUrl" placeholder="www.example.com">
                        </div>

                        <div class="form-group">
                            <label for="provider">Provider</label>
                            <select class="form-control" id="provider" th:field="*{provider}">
                                <option selected="selected" value="-1">Select a provider</option>
                                <!--  th:vale what is set internally to know the provider ID/th:text option to show on the combo-->
                                <option th:each="provider : ${allProviders}" th:value="${provider.id}" th:text="${provider.providerName}"> </option>
                            </select>
                        </div>

                        <button type="submit" class="btn btn-primary">Create Videogame</button>
                    </form>

                </div>                
            </div>   
        </div>
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    </body>
</html>
